<div class='row'>
  <div class='product--blue'>
    <div class='product_inner'>
      <img value="" class="register-input" formControlName="img" name="img" src='https://images-na.ssl-images-amazon.com/images/I/91R1AixEiLL.jpg' width='200'>
      <p type="text" value="" class="register-input" formControlName="nombre" name="nombre">Harry Potter</p>
      <p type="text" value="" class="register-input" formControlName="precio" name="precio">29.000</p>
      <button>Agregar Carrito</button>
    </div>
  </div>
  <div class='product--orange'>
    <div class='product_inner'>
      <img value="" class="register-input" formControlName="img" name="img" src='https://image.cdn0.buscalibre.com/5d201adb8263b5dd6a8b4568.__RS360x360__.jpg' width='200'>
      <p type="text" value="" class="register-input" formControlName="nombre" name="nombre">Aventuras de Gulliber</p>
      <p type="text" value="" class="register-input" formControlName="precio" name="precio">29.000</p>
      <button>Agregar Carrito</button>
    </div>
   
  </div>
  <div class='product--red'>
    <div class='product_inner'>
      <img value="" class="register-input" formControlName="img" name="img" src='https://image.cdn0.buscalibre.com/5c2d92b148f0b54a068b4567.__RS360x360__.jpg' width='200'>
      <p type="text" value="" class="register-input" formControlName="nombre" name="nombre">Coronel no tiene quien le escriba</p>
      <p type="text" value="" class="register-input" formControlName="precio" name="precio">29.000</p>
      <button >Agregar Carrito</button>
    </div>
   
  </div>
  <div class='product--green'>
    <div class='product_inner'>
      <img value="" class="register-input" formControlName="img" name="img" src='https://image.cdn1.buscalibre.com/5f15d0c155e07375698b4567.__RS360x360__.jpg' width='200'>
      <p type="text" value="" class="register-input" formControlName="nombre" name="nombre">Sherlock Holmes</p>
      <p type="text" value="" class="register-input" formControlName="precio" name="precio">29.000</p>
      <button >Agregar Carrito</button>
    </div>
    
  </div>
  <div class='product--yellow'>
    <div class='product_inner'>
      <img value="" class="register-input" formControlName="img" name="img" src='https://image.cdn0.buscalibre.com/6039cfc36ef0b5bb4e8b4567.__RS360x360__.jpg' width='200'>
      <p type="text" value="" class="register-input" formControlName="nombre" name="nombre">Alicia en el pais de las maravillas</p>
      <p type="text" value="" class="register-input" formControlName="precio" name="precio">$29.000</p>
      <button>Agregar Carrito</button>
    </div>
  </div>

<footer class="pie">
  <div class="datos" style="text-align: center;">
    <p>Biblioteca Online Certificada -  2021</p>
  </div>
</footer>

