<nav class="menu">
   
<div class="navbar">
  <div class="main-content__brand1">
    <img src="https://cdn-icons-png.flaticon.com/512/3534/3534033.png" alt="logo empresa" height="45" width="45">
    <h1 href="#" class="active">Libros Online</h1>
  </div>
  <div >
    <a [routerLink]="['/Pagina_principal']">Inicio</a>
    <a [routerLink]="['/CarritoCompras']">Carrito</a>
    <a [routerLink]="['/formu_registrar']">Registrarse</a>
    <a [routerLink]="['/login']">Login</a>
  <div class="main-content__brand2">
    <img src="https://cdn-icons-png.flaticon.com/512/64/64572.png" alt="logo user" height="30" width="30">
    <h4 href="#" class="right">Usuario</h4>
  </div>
  </div>
</div>
<router-outlet></router-outlet>
<router-outlet></router-outlet>