<!-- NAVBAR -->
<div class="navbar">
  <div class="main-content__brand1">
    <img src="https://cdn-icons.flaticon.com/png/512/3227/premium/3227053.png?token=exp=1638716011~hmac=061c436340fc0d700eae83f7a0a98a2e" alt="logo empresa" height="45" width="45">
    <h1 href="#" class="active">Libros Online</h1>
  </div>
  <div >
    <a [routerLink]="['/Paginaprincipal']">Inicio</a>
    <a [routerLink]="['/Paginaprincipal']">Compras</a>
    <a [routerLink]="['/CarritoCompras']">Carrito</a>
  <div class="main-content__brand2">
    <img src="https://cdn-icons.flaticon.com/png/512/2102/premium/2102633.png?token=exp=1638715837~hmac=b8fb787317c4b07a36da8dd2594e2978" alt="logo user" height="30" width="30">
    <h4 href="#" class="right">Usuario</h4>
  </div>
  </div>
</div>
<!-- Card de muestra libro -->
<div class='card-body'>
    <div class='product--blue'>
        <div class='product_inner'>
          <img id="imag" value="" src='http://2.bp.blogspot.com/-y2M-3VYwMHs/UKuHZpG_5yI/AAAAAAAABE8/vllNrJ57G9Y/s1600/LaComposicio%CC%81n-PG150.jpg' width='300'>
          <p id="nombre"value="" >la Composicion</p>
          <p id="costo" value="" #costo>30000</p>
          <input type="text" id="cantidad" #cantidad placeholder="cantidad" value="" >
          <i id="btb-agregar" class="btn btn-primary">Agregar carrito</i>
        </div>
    </div>
  </div>
  <div class='card-body'>
    <div class='product--blue'>
        <div class='product_inner'>
          <img id="imag" value="" #imag src='https://images-na.ssl-images-amazon.com/images/I/51na6hbTdBL._SX351_BO1,204,203,200_.jpg' width='300'>
          <p id="nombre" value="" #nombre>El Archivo de Sherlock Holmes</p>
          <p id="costo" value="" #costo>36000</p>
          <p type="text" id="cantidad" #cantidad placeholder="cantidad" value="">
          <i  id="btb-agregar" class="btn btn-primary" (onclick)="()">Agregar carrito</i>         
        </div>
    </div>
  </div>
      