
<form id= "miFormulario" action="" action="post" class="register" name= formulario [formGroup]="datosform">
    <div class="registro">
    <div class="form">
      <h1>Registrarse</h1>
      <input type="text" formControlName="nombre" name="nombre" placeholder="Nombre">
      <h2>{{retorno_nombre1}}</h2>
      <input type="text" formControlName="username" name="username" placeholder="Username">
      <h2>{{retorno_username1}}</h2>
      <input type="number" formControlName="cedula" name="cedula" placeholder="Cédula">
      <h2>{{retorno_cedula1}}</h2>
      <input type="email" formControlName="email" name="email" placeholder="Email">
      <h2>{{retorno_email1}}</h2>
      <input type="password" formControlName="contrasena" name="contrasena" placeholder="Contraseña">
      <h2>{{retorno_contrasena1}}</h2>
      <button (click)="recibir_datos()" class="register-button" formcontrolName="botonregistrar" name="botonregistrar">Registrar</button>
    </div>
  </div>
</form>





  
  


