* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
 
  .registro {
    width: 320px;
    height: 500px;
    border: 1px solid #CCC;
    background: url(https://i.pinimg.com/736x/bb/85/31/bb8531781a8ccd09401b0c8b350a4ca2.jpg);
    /*url(https://media4.giphy.com/media/BHNfhgU63qrks/giphy.gif) center center no-repeat;*/
    background-size: cover;
    margin: 30px auto;
    border-radius: 20px;
  }
  .registro .form {
    width: 100%;
    height: 100%;
    padding: 15px 25px;
  }
  .registro .form h1 {
    color: #FFF;
    text-align: center;
    font-weight: normal;
    font-size: 38px;
    margin-top: 40px;
    margin-bottom: 10px;
  }
  .registro .form input {
    width: 100%;
    height: 30px;
    margin-top: 10px;
    background: rgba(13, 2, 49, 0.5);
    border: 1px solid rgba(31, 5, 56, 0.1);
    padding: 0 15px;
    color: #FFF;
    border-radius: 5px;
    font-size: 14px;
  }
  .registro .form input:focus {
    border: 1px solid rgba(255,255,255,.8);
    outline: none;
  }
  ::-webkit-input-placeholder {
      color: #DDD;
  }
 
  .register-button{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    background: rgba(121, 122, 129, 0.5);
    padding: 0 15px;
    color: #FFF;
    border-radius: 5px;
    font-size: 20px;
  }
  .register-button:hover {
    background-color: rgba(145, 51, 226, 0.1);
  }
  h2{
    text-align: center;
    font-size: 12px;
    color: #FFF ;
    background: rgb(255, 4, 4);
  }
  .toast-top-center {
    top: 12px;
    margin: 0 auto;
    left: 50%;
    margin-left: -150px;
}