<header class="cabezera" style="background-image: url(./assets/fotos-de-librerias.jpg); ">
    <h2 style="color: aquamarine;">Lo QuE SeA LiBrOs</h2>
  </header>
  <nav id="menu">
    <ul>
      <li><a href="">CATEGORIAS</a>
        <ul>
          <li><a href="">INFANTILES</a></li>
          <li><a href="">JUVENILES</a></li>
          <li><a href="">ACADEMICOS</a></li>
          <li><a href="">REVISTAS</a></li>
          <li><a href="">VARIEDADES</a></li>
        </ul>
      </li>
      <li><a href="">FORMA TU MENTE</a></li>
      <li><a href="">CARRITO</a></li>
      <li><a href="">REGISTRO</a></li>
    </ul>
  </nav>
  <section id="menu-lat">
    <div id="grupo">
      <h3>TOPICOS COMUNES</h3>
      <ul>
        <li><a href="">JUVENIL</a></li>
        <li><a href="">VARIEDADES</a></li>
        <li><a href="">ACADEMICOS</a></li>
      </ul>
    </div>
  </section>
  <section class="categorias">
    <main class="categorizacion">
      <h2>CATEGORIAS</h2>
      <section class="contenedorProductos">
        <div class="opcion">
          <img src="./assets/libros-48.png" alt="" class="categoria-clase">
          <div class="descripcion">
            <h3 class="titulo">INFANTILES</h3>
            <!--<span class="precio">$dinero u otra cosa</span>-->
          </div>
        </div>
        <div class="opcion">
          <img src="./assets/libros-48.png" alt="" class="categoria-clase">
          <div class="descripcion">
            <h3 class="titulo">JUVENILES</h3>
            <!--<span class="precio">$dinero u otra cosa</span>-->
          </div>
        </div>
        <div class="opcion">
          <img src="./assets/libros-48.png" alt="" class="categoria-clase">
          <div class="descripcion">
            <h3 class="titulo">ACADEMICOS</h3>
            <!--<span class="precio">$dinero u otra cosa</span>-->
          </div>
        </div>
        <div class="opcion">
          <img src="./assets/libros-48.png" alt="" class="categoria-clase">
          <div class="descripcion">
            <h3 class="titulo">REVISTAS</h3>
            <!--<span class="precio">$dinero u otra cosa</span>-->
          </div>
        </div>
        <div class="opcion">
          <img src="./assets/libros-48.png" alt="" class="categoria-clase">
          <div class="descripcion">
            <h3 class="titulo">VARIEDADES</h3>
            <!--<span class="precio">$dinero u otra cosa</span>-->
          </div>
        </div>
      </section>
    </main>
  </section>
  <footer class="pie">
    <div class="datos" style="text-align: center;">
      <p>lo que sea libros  -  2021</p>
    </div>
  </footer>